body{
    background-color: rgb(51, 112, 106);
text-align: center;

}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 65vmin;
    width: 65vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    background-color: blue;
}
.box{
    font-size: 60px;
    height: 120px;
    width: 120px;
    border-radius: 15px;
    border: none;
    background-color: antiquewhite;
    color: chocolate;
}
.reset{
    height: 30px;
    margin-top: 50px;
    border-radius: 15px;
    border: none;
    background-color: black;
    color: antiquewhite;
    p{
        margin-top: 100px;
}
.winner{
    color: brown;
    font-size: 50px;
}
.hide{
    visibility: hidden;
}
@media only screen and (max-width: 455px){
    body{
        font-size: 12px;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .box{
        font-size: 5px;
        height: 10px;
        width: 10px; 
    }
    .container{
        height: 195px;
        width: 195px;  
       display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    background-color: blue;    }
}
